.body{
    background: var(--green);
    height: 100vh;
    width: 100vw;
}

.table{
    background: var(--white);
    height: 100vw;
    width: 100vw;
    position: relative;
}

.left,.right,.top,.bottom{display: flex;position: absolute;}
.left,.right{flex-direction: column;}
.left{left: 0;}
.right{right: 0;}
.bottom{bottom: 0;}
.top{top: 0;}