.top,.body{width: 100%;}
.top{height: 30%; color: var(--white); background: var(--mainColor); font-weight: 1000;}
.topGare{height: 30%; color: var(--black); background: var(--white); font-weight: 1000;}

.body{position: relative; height: 70%; color: var(--white); width: 100%;}
.bodyGare{
    position: relative;
    flex-direction: column;
    height: 70%; color: var(--black); width: 100%;
    background: var(--white);
    img{height: 58%;}
    p{height: 42%;}
}
.backgroundBody{position: absolute;width: 100%; height: 100%;opacity: .75; background: var(--mainColor); z-index: -1;}
.bodyChance{
    flex-direction: column;
    height: 100%;
    color: var(--black); background: var(--white);
    .img{
        height: 70%;
        img{height: 58%;}
    }
    p{height: 30%;}
}

p{text-align: center; text-transform: uppercase;}

.square {
    border: 0;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0,0,0.58,1);
    cursor: pointer;
    transform: scale(1);
}
.border {
    position: relative;
    background: var(--mainColor);
    transform: translate3d(0, 0, -4px);
    &:hover .square{
        transform: scale(.97);
    }
}
.border:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: .50;
    inset: 0;
    transform: translate3d(0, 0, -4px);
}