<div class="border center" [ngStyle]="{'height.vw' : size, 'width.vw': size}" *ngIf="infos.family != null && infos.family !== 'Gare' && infos.family !== 'Chance' && infos.family !== 'Taxes' && infos.family !== 'Start' && infos.family !== 'Jail'">
    <div class="square" [ngStyle]="{'font-family': font,'font-size.px': fontSize, 'height.vw': size - 1, 'width.vw': size - 1}">
        <div class="top center">
            <p>{{infos.value}}</p>
            <p>{{unit}}</p>
        </div>
        <div class="body center">
            <p>{{infos.text}}</p>
            <div class="backgroundBody"></div>
        </div>
    </div>
</div>

<div class="border center" [ngStyle]="{'height.vw' : size, 'width.vw': size}" *ngIf="infos.family != null && infos.family === 'Gare'">
    <div class="square" [ngStyle]="{'font-family': font,'font-size.px': fontSize, 'height.vw': size - 1, 'width.vw': size - 1}">
        <div class="topGare center">
            <p>{{infos.value}}</p>
            <p>{{unit}}</p>
        </div>
        <div class="bodyGare center">
            <img src="../../../assets/img/paris_gare.png">
            <p class="center">{{infos.text}}</p>
        </div>
    </div>
</div>

<div class="border center" [ngStyle]="{'height.vw' : size, 'width.vw': size}" *ngIf="infos.family != null && infos.family === 'Chance' || infos.family === 'Taxes' || infos.family === 'Start' || infos.family === 'Jail'">
    <div class="square" [ngStyle]="{'font-family': font,'font-size.px': fontSize, 'height.vw': size - 1, 'width.vw': size - 1}">
        <div class="bodyChance center">
            <div class="img center">
                <img *ngIf="infos.family === 'Chance'" src="../../../assets/img/paris_chance.png">
                <img *ngIf="infos.family === 'Taxes'" src="../../../assets/img/paris_taxes.png">
                <img *ngIf="infos.family === 'Start'" src="../../../assets/img/paris_start.png">
                <img *ngIf="infos.family === 'Jail'" src="../../../assets/img/paris_jail.png">
            </div>
            <p class="center">{{infos.text}}</p>
        </div>
    </div>
</div>

